<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="filePath" value="D:\Personal Project\TextData"/>
      <add key="highScoreWin" value="true"/>
      <add key="senderEmail" value="Beginner6991@gmail.com"/>
      <add key="senderDisplayName" value="Din Shot"/>
    </appSettings>
  
    <connectionStrings>
        <add name="TournamentTracker_DB" connectionString="Server=amirruddin;Database=TournamentTracker_DB;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network">
          <network host ="127.0.0.1" userName="" password="" port="25" enableSsl="false"/>
        </smtp>
      </mailSettings>
    </system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>