<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- Modify This Region Only-->
    <appSettings>
      <add key="filePath" value="D:\Personal Project\TextData"/>
      <add key="highScoreWin" value="true"/>
      <add key="senderEmail" value="Sender Email"/>
      <add key="senderDisplayName" value="Sender Name"/>
    </appSettings>
  
    <connectionStrings>
        <add name="TournamentTracker_DB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TrackerData;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
    </connectionStrings>

    <system.net>
      <mailSettings>
        <smtp deliveryMethod="Network">
          <network host="127.0.0.1" userName="" password="" port="25" enableSsl="false"/>
        </smtp>
      </mailSettings>
    </system.net>
  <!-- Modify This Region Only -->

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
